processor*/
venv/
.venv/
[0-9]*/
!0.orig
log.*
# thoughts.md
*/polyMesh/*
maybeUnnecessary/*
__pycache__/*
scripts/__pycache__/*
.git*
test.py
test2*
test.sh
cases/*



10Trials_translatingContactPatch.tar.zst